# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Aqnu_m/bin/Release/net6.0/publish
/Aqnu_m/bin/Release/net6.0/win-x64
/Aqnu_m/bin/Release/net6.0/1.zip
*.vsidx


/.xmake
