<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AQNU手册</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 手册主页
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="building">
                <span class="oi oi-plus" aria-hidden="true"></span> 建筑与设施
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="number">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 黄历
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="date">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 校历
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="society">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 社团
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 做出贡献
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
